@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.logo-text {
  @apply tracking-tighter text-2xl font-semibold bg-linear-to-r from-gray-600 to-white/80 bg-clip-text text-transparent;
}

.text-highlight {
  @apply tracking-tighter text-lg font-semibold bg-linear-to-r from-gray-600 to-white/80 bg-clip-text text-transparent;
}

.button-primary {
  @apply w-50 cursor-pointer font-semibold text-center text-white p-2 rounded-xl bg-gray-600 hover:bg-gray-500 transition-all duration-300;
}

.button-secondary {
  @apply w-50 cursor-pointer font-semibold text-center text-white p-2 border border-white/20 rounded-xl backdrop-blur-md hover:bg-white/10 transition-all duration-300;
}

.button-upload {
  @apply w-50 cursor-pointer font-semibold text-center text-white p-2 border border-emerald-600 rounded-xl backdrop-blur-md hover:border-emerald-300 transition-all duration-300;
}

.button-logout {
  @apply w-50 cursor-pointer font-semibold text-center text-white p-2 rounded-xl bg-red-800 hover:bg-red-700 transition-all duration-300;
}

.input-form {
  @apply w-full px-4 py-2.5 rounded-lg bg-white/5 border border-white/20 text-white placeholder-white/40 focus:outline-none focus:border-white/40 focus:ring-2 focus:ring-white/30 transition-all duration-200;
}

.big-text {
  @apply text-8xl;
}

::-webkit-scrollbar {
  width: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0);
}

::-webkit-scrollbar-thumb {
  background-color: rgb(164, 154, 154);
  border-radius: 10px;
  cursor: grab;
}
