@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.logo-text {
  @apply tracking-tighter text-2xl font-semibold bg-linear-to-r from-gray-600 to-white/80 bg-clip-text text-transparent;
}

.text-highlight {
  @apply tracking-tighter text-lg font-semibold bg-linear-to-r from-gray-600 to-white/80 bg-clip-text text-transparent;
}

.button-primary {
  @apply w-50 font-semibold text-center text-black p-2 rounded-xl bg-white/50 hover:bg-white/30 transition-all duration-300;
}

.button-secondary {
  @apply w-50 font-semibold text-center text-white p-2 border border-white/20 rounded-xl backdrop-blur-md hover:bg-white/10 transition-all duration-300;
}

::-webkit-scrollbar {
  width: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0);
}

::-webkit-scrollbar-thumb {
  background-color: rgb(164, 154, 154);
  border-radius: 10px;
  cursor: grab;
}
